# get rid off the compiled classes
target/
# eclispe and other project clases
.forge_settings
.project
.settings/
.metadata
.checkstyle
.classpath
# some testing stuff
test.adoc

# somthing ruby
*.lock
.bundle/
