/**
 * Red Hat like theme for reveal.js.
 */
@font-face {
  font-family: 'liberation_regular';
  src: url("../../lib/font/LiberationSans-Regular-webfont.eot");
  src: url("../../lib/font/LiberationSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/LiberationSans-Regular-webfont.woff") format("woff"), url("../../lib/font/LiberationSans-Regular-webfont.ttf") format("truetype"), url("../../lib/font/LiberationSans-Regular-webfont.svg#liberation_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'liberation_bold';
  src: url("../../lib/font/LiberationSans-Bold-webfont.eot");
  src: url("../../lib/font/LiberationSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/LiberationSans-Bold-webfont.woff") format("woff"), url("../../lib/font/LiberationSans-Bold-webfont.ttf") format("truetype"), url("../../lib/font/LiberationSans-Bold-webfont.svg#liberation_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: whitesmoke;
  background: -moz-radial-gradient(center, circle cover, white 0%, whitesmoke 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, whitesmoke));
  background: -webkit-radial-gradient(center, circle cover, white 0%, whitesmoke 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, whitesmoke 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, whitesmoke 100%);
  background: radial-gradient(center, circle cover, white 0%, whitesmoke 100%);
  background-color: #2b2b2b; }

.reveal {
  font-family: liberation_regular;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #606058; }

::selection {
  color: white;
  background: #f7f3dc;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #781f1c;
  font-family: liberation_bold;
  line-height: 0.9em;
  letter-spacing: -0.03em;
  text-transform: none;
  text-shadow: none; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #bfdce8;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #74b3cd;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #87bdd4; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #606058;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #bfdce8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #bfdce8; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #bfdce8; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #bfdce8; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #bfdce8; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #74b3cd; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #74b3cd; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #74b3cd; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #74b3cd; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #bfdce8;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #bfdce8; }

.reveal .progress {
  background: rgba(200, 197, 172, 0.3); }

.reveal .progress span {
  background: #781f1c; }

#logo {
  position: fixed;
  height: 2.4em;
  z-index: 30;
  right: 20px;
  bottom: 18px; }
